ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

  ul{
    margin-left: $small-spacing;
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
