.accounts{

  main{

    nav, .account{
      width: 100%;
      display: inline-block;
      margin-right: -100%;
      vertical-align: top;
  	}

    .menu{

      > h1{
        display: none;
      }

      position: relative;

      &-toolbar{

        padding: $base-spacing $small-spacing;
        display: block;
        overflow: auto;

        button{
          margin: 0;
          @include span-columns(6 of 12);
          padding-left: 0;
          padding-right: 0;
          font-size: 0.9em;
        }
      }
    }

    .account{
      left: 100%;
      position: relative;

      &-nav-toggle{
        @extend %visuallyhidden;
      }
    }
  }

  .account-nav-toggle{

    &:checked{

      + nav{
        margin-left: -100%;
        position: static;

        .menu-toolbar{

          @include transform(translateY(-100%));
          top: 100%;
          left: 0;
          width: 100%;
          display: inline-block;
          position: absolute;
        }
      }

      ~ section{
        margin-bottom: 5em;
      }
    }
  }

  .new-account{
    @extend .card;
    @extend .card-z3;
    margin: $small-spacing;
    padding: $small-spacing;
    display: block;

    &-unsupported{
      text-align: center;

      > *{
        &:last-child{
          font-size: 0.8em;
        }
      }
    }
  }

  // Desktop Layout
  @include media($large-screen) {

    main{

      .menu{

        > h1{
          display: block;
          @extend .h5;
        }
      }

      .account{
        @include span-columns(3.8 of 6);
        left: 0;
        position: relative;

        &-nav-toggle:checked + nav .menu-toolbar{
          @include transform(none);
        }
      }

      nav{
        @include span-columns(2.2 of 6);
        margin-left: 0 !important;
        padding-top: $small-spacing;
        padding-left: $small-spacing;

        .menu-toolbar{
          position: static !important;
        }
      }
    }
  }
}