.app{
  
	.tab{
  	background: $dark-bg;

  	.tabicons{
  		@include outer-container;

  		.tabicon{
    		@include flex-columns(4);
  		}
  	}
  }

  main{
    @include outer-container;
    overflow: hidden;
    position: relative;

    nav, .accounts{
      width: 100%;
      display: inline-block;
      margin-right: -100%;
      vertical-align: top;
  	}

    .menu{

      position: relative;

      &-toolbar{

        padding: $base-spacing $small-spacing;
        display: block;
        overflow: auto;

        button{
          margin: 0;
          @include span-columns(6 of 12);
          padding-left: 0;
          padding-right: 0;
          font-size: 0.9em;
        }
      }
    }

    .accounts{
      left: 100%;
      position: relative;

      &-nav-toggle{
        @extend %visuallyhidden;
      }
    }
  }

// Desktop Layout
  @include media($large-screen) {

    main{

      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }
  }
}