.drawings{

	.drawing{

		&-price{
			color: $action-color;
		}

		&-entry{
			&:after{
				content: ' Entries';
			}
		}

		.box-content{
			padding-right: $small-icon-size + $small-spacing;
		}

		> svg{
			fill: $medium-gray;
			margin-left: - ($small-icon-size + $small-spacing);
		}

		// Overlay
		&-content{

			@include flex-columns(6);
			vertical-align: middle;

			> * {
				display: block;
			}
			big{
				font-weight: bold;
			}
		}

		&-action{
			@include flex-columns(6);
			vertical-align: middle;
		}

		&-name{
			font-style: italic;
		}

		&-id{
			color: $action-color;
		}

		// Details
		&-details{
			@extend .card;
			@extend .card-z3;
			margin: $small-spacing;
			padding: $small-spacing;

			&-time{
				font-size: 0.8em;
				display: block;
				padding: $small-spacing;
				background: $light-gray;
				text-align: center;
				margin-bottom: $small-spacing;

				time{
					color: $saveup-blue;
				}
			}

			h1{
				@extend .h5;
				margin-bottom: $small-spacing / 2;
			}

			h2{
				font-size: 0.9em;
			}

			p, .drawing-price{
				font-size: 0.8em;
			}
		}
	}
}