.home{
	$device-screen-width: 10em !default;
  	$device-screen-height: 15em !default;

	.calltoaction{
		text-align: center;
		padding: 4em 0;

		h1{
			font-size: 1.5em;
			margin-bottom: 0.5em;
			font-weight: bold;
			@include media($large-screen) {
				font-size: 2em;
			}
		}

		p{
			padding: 0 1em;
	        @include media($large-screen) {
		      font-size: 1.2em;
			  max-width: 40%;
			  margin: 0 auto;
		    }

			
		}

		&-toolbar{
			margin-top: 2em;
		}
	}

	.security{
		@include outer-container(100%);
		background: $ligth-saveup-blue;
		padding-top: 1em;
		overflow: hidden;    	

 		&-background{
 			@include outer-container;
 		}

		h1{
			@include media($large-screen) {
				font-size: 1.3em;
				font-weight: bold;
			}
			font-size: 1.3em;
			font-weight: bold;	
			margin-bottom: 1.7em;
		}

		.bullets{
			@include media($large-screen) {
				
				@include flex-columns(6, inline-block);
				vertical-align: middle;
			}
			.bullet {	
				@include media($large-screen) {
					margin-bottom: 0.2em;
				}
				margin-bottom: 2em;
				&-icon {
				    margin-bottom: 1.2em;
			    }
			}

		}

		&-image{

			margin: auto;
			max-width: 74%;
			display: block;
			@include media($large-screen) {
				@include flex-columns(8, inline-block);
				margin-right: - flex-width(4);
				vertical-align: middle;
			}

		}
	}

	.hero{
		padding-bottom: 5em;

		@include media($large-screen) {
		  padding-bottom: 9em;
		}
	}

	.slides{

		@include media($large-screen) {
		  padding: 0;
		}
		
		h1 {
			@include media($large-screen) {
	  	    font-size: 2.3em;
	  	    }	
			font-size: 1.3em;
			font-weight: bold;
			text-align: center;
			padding: 1.5em 0 0.7em;
		}

		header{
			background: $ligth-saveup-blue;
		}

		.tabicons{
	  	@include outer-container;
  		
	  	@include media($large-screen) {
	  	  @include outer-container(50%);
	  	}

	  	.tabicon{
	  		padding-bottom: 1.5em;
	  	}
		}

		.device-background{

			@include outer-container;
		}
	}

	.press{

		padding: 1.6em 0;
		text-align: center;
		background: rgb(245, 245, 246);

		&-wrapper{
			@include outer-container;
		}

		&-tile{
			@extend %tooltip;
			@include flex-columns(6);
			padding: 1em 0em;

			blockquote{
  			margin-bottom: 1em;
			}
		}

		&-title{
			padding: 1em 0;
			display: block;
		}

		@include media($large-screen) {
		  &-title, &-tile{
				@include flex-columns(2, inline-block);
				float: none;
				margin-bottom: 0;
				text-align: center;
				vertical-align: middle;
			}
		}

		img{
			height: auto;
			opacity: .5;
		}
		img:hover {
			opacity: 1;
		}
	}
}