.profile{

	&-header{
		color: white;
		padding: $small-spacing;
		background: $saveup-blue;
		text-align: center;
	}

	&-photo{
		font-size: 4em;
	}

	&-stat{
		@include flex-columns(4, inline-block);
		text-transform: uppercase;

		&-val{
			display: block;
			font-size: 2em;
			font-weight: bold;
			text-transform: none;
		}
	}

	&-stats{
		padding: $small-spacing 0;
	}

	&-form{
		margin: $small-spacing;
	}

	&-container{
		padding: 0;
	}
}