.videos{

	.video{
		position: relative;

		&-header:before{
			@include size(100%);
			top: 0;
			left: 0;
			content: "";
			position: absolute;
			background: transparentize(black, 0.8);
		}

		&-play{
			$icon-padding: 0.3em;
			$icon-size: $base-icon-size;
			@include size($icon-size);
			top: 50%;
			left: 50%;
			padding: $icon-padding;
			position: absolute;
			background: transparentize(black, 0.5);
			margin-top: - $icon-size / 2;
			margin-left: - $icon-size / 2;
			border-radius: 50%;
		}
	}
}