.account{

  $account-green: rgb(93, 186, 76);
  $account-margin: 2em;
  $account-types: ( 
    ("deposit", rgb(96, 188, 80)), 
    ("spend", rgb(229, 20, 103)),
    ("withdrawal", rgb(251, 169, 25))
  );
  
  padding: $small-spacing;

  &-back-button{

    color: darken($saveup-blue, 10%);
    margin: $small-spacing 0;    
    position: relative;
    font-size: 0.8em;
    padding-left: $base-spacing * 0.7 + $small-spacing;

    &:after, &:before{
      @include triangle($base-spacing * 0.7, darken($saveup-blue, 10%), left);
      top: 3px;
      left: 0;
      content: " ";
      position: absolute;
      padding-left: $small-spacing;
    }

    &:after{
      left: 3px;
      border-right-color: white;
    }
  }

  &-reload{
    @extend .icon;
    top: $small-spacing * 1.5;
    left: 100%;
    fill: $dark-grey-font-color;
    position: absolute;
    margin-left: - $base-icon-size;
  }

  &-wrapper{
    @extend .card;
    @extend .card-z99;
    display: block;
    padding: $small-spacing;

    > section{
      @include outer-container(100%);
      border-top: $base-border;
      padding: $small-spacing 0;

      &:first-child{
        border-top: none;
        padding-top: 0;
      }
    }
  }

  h1{
    @extend .h5;
    font-weight: bold;
  }

  &-chart{
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .donut-chart{
    width: 40%;
  }

  &-balance{
    @include span-columns(4);
    text-align: right;

    &-title{
      display: block;
      font-size: 0.8em;
    }

    &-total{
      color: $account-green;
      display: block;
      line-height: 1em;
      font-weight: bold;

      &:before{
        content: "$";
      }
    }
  }

  &-header{
    @include span-columns(8);

    h2, &-details, &-date{
      display: block;
      font-size: 0.8em;
      margin-bottom: 0;
      line-height: 1.5em;
    }

    &-details, &-date{
      color: $light-grey-font-color;
    }

    &-table{

      font-size: 0.9em;
      table-layout: auto;

      thead{
        @extend %visuallyhidden;
      }

      tbody{

        td {

          &:nth-child(2){
            color: $light-grey-font-color;
          }

          &:last-child{
            &:before{
              content: "$";
            }
          }
        }
      }
    }
  }

  &-transactions{

    &-table{

      thead{
        @extend %visuallyhidden;
      }

      tr{
        border-top: $base-border;

        td:first-child{
          padding-left: 0.5em;
        }

        td:last-child{
          &:before{
            content: "$";
          }
        }
      }

      @each $class, $color in $account-types {
        .#{$class} {
          border-left: 6px solid $color;
        }
      }
    }
  }

  &-cta{
    text-align: center;

    p{
      color: $medium-gray;
      font-size: 0.7em;
    }

    button{
      font-size: 0.7em;
    }
  }

// Desktop Layout
  @include media($large-screen) {

    &-back-button{
      display: none;
    }

    &-wrapper{
      padding: 0;
      box-shadow: none;

      > section {
        padding: $base-spacing 0;
      }

      h1{
        margin-bottom: $base-spacing;
      }
    }

    &-reload{
      position: static;
      margin-bottom: $small-spacing;
    }

    &-balance-total{
      font-size: 1.5em;
    }

    .line-chart{
      @include span-columns(4 of 6);
    }

    .donut-chart{
      @include span-columns(2 of 6);
    }

  }
}