.access{

	$step-gap: 3px !default;
	$step-size: $small-icon-size !default;
	$step-font-size: 0.9em !default;
	$step-background: grey !default;
	$step-line-heigth: 3px !default;

	@extend .card;
	@extend .card-z3;
	margin: 0 auto;
	display: block;
	max-width: 30em;

	.step{
		top: 0;
		width: 100%;
		display: inline-block;
		position: relative;
		margin-right: -100%;
		vertical-align: top;

		&.in{
			left: 105%;
			display: none;
		}

		&.current{
			left: 0%;
		}

		&.out{
			left: -105%;
		}
	}

	&-steps{

		display: block;
		text-align: center;
		counter-reset: step-counter;
		padding-bottom: $small-spacing;

		span{
			
			display: inline-block;
			counter-increment: step-counter;

			&.active{

				&:after{
					background: $saveup-blue;
				}
			}

			&:first-child {
				&:before{
					display: none;
				}
			}

			&:after{
				@include size($step-size);
				color: white;
				content: counter(step-counter);
				display: inline-block;
				font-size: $step-font-size;
				line-height: $step-size;
				font-weight: bold;
				border-radius: 50%;
				vertical-align: middle;
				background-color: grey;
			}

			&:before{
				width: $small-icon-size;
				height: $step-line-heigth;
				content: " ";
				display: inline-block;
				vertical-align: middle;
				margin: 0 $step-gap;
				background-color: grey;
			}
		}
	}

	&-header{
		display: none;
		color: white;
		padding: $base-spacing;
		background: $saveup-blue;
		text-align: center;

		h1{
			@extend .h5;
			margin: 0;
		}
	}

	form{
		padding: $small-spacing;
		overflow: hidden;
	}

	&-checks{

		padding: $small-spacing * 0.8;
		font-size: 0.9em;
		background: lighten(grey, 40%);
		margin-bottom: $small-spacing;
		border-radius: $base-border-radius;

		.input-container{
			margin: 0;
		}

		label{
			margin: 0;
			font-weight: normal;
			line-height: 1.6em;
		}
	}
// Desktop Layout
  @include media($large-screen) {
  }
}