.chip{

	color: $dark-grey-font-color;
	padding: 0 $small-spacing / 2;
	display: inline-block;
	font-style: normal;
	background: $light-gray;
	border-radius: 10em;
	margin-right: $small-spacing / 2;
	line-height: 1em;

	> * {
		vertical-align: middle !important;
	}

	svg {
		fill: white !important;
		background: $medium-gray;
		margin-right: - $small-spacing / 2;
		border-radius: 50%;
	}
}